    body {
        width: 100%;
        height: 650px;
        background: #43C6AC;
        background: -webkit-linear-gradient(to right, #191654, #43C6AC);
        background: linear-gradient(to right, hsla(243, 100%, 70%, 0.678), hsla(168, 53%, 52%, 0.61)), url(img/1.jpg);
        background-size: cover;
        background-attachment: fixed;
        position: relative;
    }
    
    .wave {
        position: absolute;
        bottom: 0;
        width: 200%;
    }
    
    .button {
        background-color: #4CAF50;
    }