           #main-container {
               width: 1100px;
               border: 1px;
               font-family: Arial, Helvetica, sans-serif;
           }
           
           h1,
           h3,
           h5 {
               text-align: center;
               color: white;
           }
           
           .btn1 {
               padding: 5px 15px;
               font-size: 16px;
               border-radius: 5px black;
               color: white;
               cursor: pointer;
               background: rgb(24, 112, 191);
           }
           
           .btn2 {
               padding: 5px 15px;
               font-size: 16px;
               border-radius: 5px black;
               color: white;
               cursor: pointer;
               background: rgb(177, 6, 165);
           }
           
           .btn3 {
               padding: 5px 15px;
               font-size: 16px;
               border-radius: 5px black;
               color: white;
               cursor: pointer;
               background: rgb(224, 99, 26);
           }
           
           .btn4 {
               padding: 5px 15px;
               font-size: 15px;
               border-radius: 5px black;
               color: black;
               cursor: pointer;
               background: rgb(236, 198, 26);
           }
           
           .btn5 {
               padding: 5px 15px;
               font-size: 16px;
               border-radius: 5px black;
               color: black;
               cursor: pointer;
               background: rgb(114, 192, 41);
           }
           
           .place {
               border-radius: 5px;
               border: none;
               color: rgb(78, 75, 75);
               letter-spacing: .10px;
               font-size: 1.2rem;
           }
           /* tabla con informacion */
           
           .listar {
               width: 100%;
               background-color: white;
               border-collapse: collapse;
               text-align: left;
               letter-spacing: .10px;
               font-size: 1rem;
           }
           
           thead {
               background-color: #244163;
               border-bottom: solid 5px #0f2136;
               color: white;
           }
           /* paginador */
           
           .pag {
               padding: 5px 15px;
               font-size: 15px;
               border-radius: 5px black;
               color: blue;
               cursor: pointer;
               background: white;
           }